html,
body {
  background-color: #27272a;
  padding: 0px;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.font-bold {
  font-weight: 800;
}

.white {
  color: white;
}

/* =================================== */
#modalContainer {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

#modalContainer.visible {
  display: flex;
}

#addBookModal {
  width: 400px;
  background-color: #18181b;
  border-radius: 10px;
  padding: 20px 10px;
  display: none;
}

#addBookModal.visible {
  display: block;
}

#alert {
  display: none;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2dd4bf;
  padding: 4px 12px;
  border-radius: 6px;
  box-shadow: 0px 67px 319px rgba(0, 0, 0, 0.07),
    0px 20.1985px 96.1692px rgba(0, 0, 0, 0.0456112),
    0px 8.38944px 39.9438px rgba(0, 0, 0, 0.035),
    0px 3.0343px 14.4469px rgba(0, 0, 0, 0.0243888);
  min-width: 200px;
}

#alert.visible {
  display: block;
}

#alert.error {
  background-color: #fb7185;
}

#alert.success {
  background-color: #2dd4bf;
}

#addBookModal {
  border: 2px solid #52525b;
  padding: 40px;
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 30px;
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  width: 100%;
}

form .input-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form .input-group label {
  margin-bottom: 8px;
}

form .input-group:not(:last-child) {
  margin-bottom: 20px;
}

.no-books-message {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}

button {
  background-color: #27272a;
  border: 2px solid #52525b;
  color: rgba(255, 255, 255, 0.75);
  padding: 5px 10px;
  border-radius: 6px;
}

button:hover {
  background-color: #1d1d20;
  color: #ffffff;
}

/* =================================== */

header {
  overflow: auto;
  background-color: #3f3f46;
  padding: 0px 10px;
  border-bottom: 3px solid #52525b;
  display: flex;
  justify-content: center;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

header h1 {
  text-align: center;
  color: #ffffff;
}

section.content-wrapper {
  margin-top: 40px;

  display: flex;
  justify-content: center;
}

section.books-list {
  width: 100%;
  max-width: 1200px;
}

#list-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.list-item {
  background-color: #3f3f46;
  border: 2px solid #52525b;
  border-radius: 10px;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item .book-title {
  font-size: 18px;
}

.list-item .book-details {
  display: flex;
}

.list-item .book-details p {
  opacity: 0.6;
  font-size: 14px;
  margin-top: 0px;
}

.list-item .book-details p:not(:last-child) {
  margin-right: 20px;
}

.list-item:not(:last-child) {
  margin-bottom: 20px;
}

.book-actions .toggle-read-btn {
  margin-right: 20px;
}
